# Main Ideas
/prd
/content-library

# Demo Testing
/testing/
/testing/next
/testing/elysia
/testing/express
/testing/fastify
/testing/hono

# Dependencies
/node_modules
package-lock.json
yarn.lock
bun.lock
bun.l*

# Build
/dist

# Others
.env
build_log.txt
log*